@import "global/variables.scss";

.container__title {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  margin-top: -2px;
}

.container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 38px;
}

.container__slogan {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

.container__video {
  width: 100%;
  max-width: 280px;
  margin: 0 auto;
  object-fit: cover;
  display: block;
}

.container__wrapper {
  gap: 11px;
  padding: 0 5px;
  display: flex;
  flex-direction: column;
}

@media (min-width: $tablet-width) {
  .container__wrapper--video {
    padding: 60px 60px 40px 60px;
  }

  .container__slogan {
    text-align: center;
    max-width: 445px;
    margin: 0 auto;
  }

  .container__title {
    font-size: 30px;
    margin-top: 67px;
  }

  .container__wrapper {
    gap: 6px;
    margin-top: -29px;
  }

  .container__video {
    margin-top: 51px;
    max-width: 648px;
  }
}

@media (min-width: $desktop-width) {
  .container__wrapper--video {
    padding: 67px 200px 60px 200px;
  }

  .container__wrapper {
    gap: 3px;
  }

  .container__video {
    max-width: 800px;
    margin-top: 49px;
  }

  .container__title {
    margin-top: 75px;
  }
}

.container__video-btn {
  transition: 0.6s;
  display: table;
  margin: 0 auto -24px;
}

.container__video-btn:hover {
  opacity: 0.6;
}

@media (min-width: $tablet-width) {
  .container__video-btn {
    margin-bottom: 0;
  }
}
