@import "global/variables.scss";

.emotions__title {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-top: 49px;
}

.emotions__textarea {
  resize: none;
  display: block;
  outline: none;
  padding: 12px;
  background: #f2f2f2;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  border: 4px solid #f2f2f2;
  transition: 0.3s;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #000000;
  height: 150px;
}

.emotions__textarea::placeholder {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.3);
}

.emotions__textarea:hover {
  background: #e5e5e5;
  border-color: #e5e5e5;
}

.emotions__textarea:active,
.emotions__textarea:focus {
  background: #ffffff;
  border-color: #e5e5e5;
}


.emotions__item {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  color: rgba(51, 51, 51, 0.6);
  margin-bottom: 50px;
  text-align: right;
  text-transform: uppercase;
  margin-top: 4px;
}

.emotions__emotions {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.3);
  text-align: center;
}

.emotions__button {
  max-width: 324px;
  display: block;
  width: 100%;
  background: #81b3d2;
  border: none;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  align-items: center;
  text-align: center;
  justify-content: center;
  text-transform: uppercase;
  color: #ffffff;
  padding: 16px 30px;
  margin-top: 24px;
  cursor: pointer;
}

.emotions__button:hover {
  background: #669ec0;
}

.emotions__button:active {
  background: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.emotions__button:disabled {
  background: #e5e5e5;
}

@media (min-width: $tablet-width) {
  .emotions {
    margin-bottom: 70px;
  }

  .emotions__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 46px;
    padding: 0 40px;
  }

  .emotions__title {
    font-family: "PT Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    margin-top: 26px;
    margin-bottom: 31px;
  }

  .emotions__textarea {
    height: 160px;
    margin-left: 39px;
    margin-right: 41px;
    padding: 14px;
    margin-top: -4px;
  }

  .emotions__button {
    margin-left: 0;
    margin-top: -35px;
  }

  .emotions__item {
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    margin-bottom: 0;
    margin-top: -18px;
  }
}

@media (min-width: $desktop-width) {
  .emotions__title {
    margin-top: 70px;
  }

  .emotions__textarea {
    margin: 0 auto;
    width: 731px;
  }

  .emotions__wrapper {
    width: 768px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }

  .emotions {
    margin-bottom: 49px;
  }
}
