@import "global/variables.scss";

.features {
  padding-left: 18px;
  padding-right: 18px;
  position: relative;
  padding-bottom: 45px;
}

.features::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 40px;
  object-fit: contain;
  background: url("../img/features-after-mobile.svg") no-repeat top center;
  background-size: contain;
  background-color: #81b3d2;
}

.features__title {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  margin-bottom: 35px;
  margin-top: 32px;
  max-width: 271px;
  margin-left: auto;
  margin-right: auto;
}

.features__description {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  margin: 0 0 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .features__title {
    font-size: 21px;
    padding-right: 124px;
    padding-left: 124px;
    max-width: 465px;
    margin-top: 50px;
  }

  .features::after {
    display: none;
  }

  .features__description {
    padding-left: 124px;
    padding-right: 124px;
    margin-top: -7px;
  }
}

@media (min-width: $desktop-width) {
  .features__title {
    margin-top: 60px;
  }

  .features {
    padding-bottom: 36px;
  }
}
