@import "global/variables.scss";

.information {
  background: #ffffff;
}

.information__list {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr;
  padding: 0;
  margin: 0;
  background: #eeeeee;
}

.information__list-element {
  padding-top: 24px;
  padding-bottom: 26px;
}

.information__title {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  text-align: center;
}

.information__number {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  text-align: center;
  margin-top: 11px;
  margin-bottom: 17px;
}

.information__paragraph {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  text-align: center;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  max-width: 256px;
}

@media (min-width: $tablet-width) {
  .information__list {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .information__title {
    font-family: "PT Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    max-width: 150px;
    margin: 0 auto;
  }

  .information__paragraph--index {
    max-width: 235px;
    margin-top: 24px;
  }

  .information__paragraph--information {
    max-width: 235px;
    margin-top: 24px;
  }

  .information__paragraph--list {
    margin-top: 24px;
  }

  .information__number {
    font-family: "PT Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
  }

  .information__paragraph {
    font-family: "PT Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
  }

  .information__list-element {
    margin: 0 auto;
    padding: 43px 0;
  }
}

@media (min-width: $desktop-width) {
  .information__list-element {
    padding: 51px 0 55px;
  }

  .information__paragraph--index,
  .information__paragraph--information,
  .information__paragraph {
    max-width: 315px;
  }
}
