@import "global/variables.scss";

.socials {
  padding: 0;
  display: grid;
  grid-template-columns: 48px 48px 48px;
  column-gap: 6px;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 28px;
}

.socials__link {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #81b3d2;
}

.socials__link:hover {
  background: #669ec0;
}


.socials__link:active {
  background: #5496bd;
}


.socials__item {
  list-style-type: none;
}

.socials__text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  display: flex;
  justify-content: center;
}
