@import "global/variables.scss";

.stats__title {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 24px;
  margin-top: 36px;
}

.stats__intro {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .stats__title {
    font-size: 30px;
    margin-top: 65px;
  }

  .stats__intro {
    margin: 0 auto;
    max-width: 441px;
    margin-top: -3px;
  }
}

@media (min-width: $desktop-width) {
  .stats__title {
    margin-top: 116px;
  }

  .stats__intro {
    margin-top: 31px;
  }
}
