@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans.woff2") format("woff2");
}
@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsansbold.woff2") format("woff2");
}
.advantages {
  background: #81b3d2;
  display: grid;
  grid-template-columns: 1fr;
}

.advantages__title {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
}

.advantages__number {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #ffffff;
}

.advantages__paragraph {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
}

@media (min-width: 768px) {
  .advantages {
    grid-template-columns: 2fr 1fr;
  }
}
.benefits__list {
  display: grid;
  grid-template-columns: 1fr;
}

.benefits__item {
  list-style-type: none;
}

.benefits__title {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}

.benefits__description {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}

@media (min-width: 768px) {
  .benefits__list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.features__title {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  text-align: center;
}

.features__description {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  text-align: center;
}

.footer {
  display: flex;
  flex-direction: column;
}

.footer__wrapper {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

@media (min-width: 768px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
  }
}
.header__list {
  background: #81b3d2;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.header__item-link {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
}

.header__logo {
  height: 96px;
}

@media (min-width: 768px) {
  .header__list {
    flex-direction: row;
    justify-content: space-between;
    background: transparent;
  }

  .header__item-link {
    color: #000000;
  }
}
.information {
  background: #ffffff;
}

.information__list {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr;
}

.information__title {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}

.information__number {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}

.information__paragraph {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}

@media (min-width: 768px) {
  .information__list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.promo__image {
  width: 100%;
  object-fit: cover;
}

.realtown {
  background: #81b3d2;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.realtown__title {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
}

.realtown__number {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #ffffff;
}

.realtown__description {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
}

.socials {
  display: flex;
}
.socials__item {
  list-style-type: none;
}

.socials__text {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
}

.block__title {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  text-align: center;
}

.block__slogan {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  text-align: center;
}

.card__title {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
}

.card__descriptions {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}

.card__text {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
}

.card__like-link {
  text-decoration: none;
}

.card__photo {
  height: 280px;
  width: 100%;
  object-fit: cover;
}

@media (min-width: 768px) {
  .card__photo {
    height: 267px;
  }

  .card {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .card__wrapper--full {
    grid-column: span 2;
  }
}
@media (min-width: 1200px) {
  .card {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .card__wrapper--full {
    grid-column: span 3;
  }
}
.container__title {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  text-align: center;
}

.container__slogan {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  text-align: center;
}

.container__video {
  width: 100%;
  object-fit: cover;
}

.stats__title {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  text-align: center;
}

.stats__intro {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  text-align: center;
}

.impression__title {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  text-align: center;
}

.impression__positive {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}

.impression__negative {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}

.impression__abstaining {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}

.visiting__title {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  text-align: center;
}

.visiting__label {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.emotions__title {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  text-align: center;
}

.emotions__item {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  color: rgba(51, 51, 51, 0.6);
}

.emotions__emotions {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.3);
  text-align: center;
}

.emotions__button {
  display: block;
  width: 100%;
}

.search__title {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  text-align: center;
}

.search__paragraph {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  text-align: center;
}

.search__button {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  background: #81b3d2;
  text-decoration: none;
  display: block;
  text-align: center;
}

.search__button__map {
  width: 100%;
}

.copyright {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
}

.feedback-form__header {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  text-align: center;
}

.feedback-form__name {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}

.feedback-form__surname {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}

.feedback-form__patronymic {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}

.feedback-form__contacts {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  text-align: center;
}

.feedback-form__telephone {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}

.feedback-form__email {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}

.feedback-form__field {
  display: flex;
  flex-direction: column;
}

.emotions__button {
  background: #81b3d2;
  outline: none;
  border: none;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  text-transform: uppercase;
  color: #ffffff;
  padding: 16px 30px;
}

@media (min-width: 768px) {
  .feedback-form__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .impression,
.visiting,
.emotions {
    grid-column: span 2;
  }

  .feedback-form__row {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1200px) {
  .impression .feedback-form__row {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .visiting .feedback-form__row {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
/*# sourceMappingURL=style.css.map */