@import "global/variables.scss";

.advantages {
  background: #81b3d2;
  display: grid;
  grid-template-columns: 1fr;
}
.advantages__title {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
}
.advantages__number {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #ffffff;
}
.advantages__paragraph {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
}

@media (min-width: $tablet-width) {
  .advantages {
    grid-template-columns:2fr 1fr;
  }
}
