@import "global/variables.scss";

.benefits__list {
  display: grid;
  grid-template-columns: 1fr;
}

.benefits__item {
  list-style-type: none;
}
.benefits__title {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}
.benefits__description {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}
@media (min-width: $tablet-width) {
  .benefits__list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
