@import "global/variables.scss";

.block__title {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  text-align: center;
}

.block__slogan {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .block__slogan {
    max-width: 458px;
    text-align: center;
    margin: 0 auto;
  }
}
