@import "global/variables.scss";

.card {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 16px;
}

.card__title {
  margin-top: 10px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  text-transform: uppercase;
}

.card__descriptions {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  margin-bottom: 11px;
}

.card__text {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
}

.card__like-text {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  margin-left: 9px;
}

.card__like-link {
  text-decoration: none;
}

.card__photo {
  height: 280px;
  width: 100%;
  object-fit: cover;

  @media (min-resolution: 2dppx) {
    // background-image: url("../img/photo-1-mobile@2x.png");
  }
}

.card__wrapper {
  padding-top: 25px;
  padding-bottom: 25px;
}

@media (min-width: $tablet-width) {
  .card__photo {
    height: 267px;
  }

  .card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-right: 40px;
    margin-left: 40px;
    margin-top: 24px;
  }

  .card__title {
    margin-top: 18px;
  }

  .card__descriptions {
    margin-top: 2px;
  }

  .card__like-counter {
    display: flex;
    align-items: flex-end;
  }

  .card__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }

  .card__wrapper {
    padding-top: 3px;
    padding-bottom: 0;
  }

  .card__photo--devils-cape {
    height: 274px;
  }

  .card__footer--devils-cape {
    margin-top: -8px;
  }

  .card__wrapper--full {
    grid-column: span 2;
    padding-top: 25px;

    .card__photo {
      height: 400px;
    }
  }
}

@media (min-width: $desktop-width) {
  .card {
    grid-template-columns: 1fr 1fr 1fr;
    margin-right: 0;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .card__wrapper {
    position: relative;
  }

  .card__wrapper--full {
    .card__footer {
      margin-top: -76px;
      padding: 0 21px;
      grid-column: span 3;
      padding-top: 33px;
    }

    .card__title {
      margin-top: 14px;
    }
  }

  .card__footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    padding: 0 25px;
  }

  .card__title {
    color: #ffffff;
    margin-top: 10px;
  }

  .card__descriptions {
    color: #ffffff;
  }

  .card__photo--devils-cape {
    height: 267px;
  }
}
