.card {
}
.card__title {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
}
.card__descriptions {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}
.card__text {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
}
.card__like-link {
  text-decoration: none;
}
.card__photo {
  width: 100%;
  object-fit: cover;
}
