@import "global/variables.scss";
.feedback-form__header {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  text-align: center;
}
.feedback-form__name {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}
.feedback-form__surname {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}
.feedback-form__patronymic {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}
.feedback-form__contacts {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  text-align: center;
}
.feedback-form__telephone {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}
.feedback-form__email {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}

.feedback-form__field {
  display: flex;
  flex-direction: column;
}
.emotions__button {
  background: #81b3d2;
  outline: none;
  border: none;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  text-transform: uppercase;
  color: #ffffff;
  padding: 16px 30px;
}
@media (min-width: $tablet-width) {
  .feedback-form__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .impression,
  .visiting,
  .emotions {
    grid-column: span 2;
  }
  .feedback-form__row {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: $desktop-width) {
  .impression .feedback-form__row {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .visiting .feedback-form__row {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
