@import "global/variables.scss";
.footer {
  display: flex;
  flex-direction: column;
}
.footer__wrapper {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}
@media (min-width: $tablet-width) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
  }
}
