@import "global/variables.scss";
.information {
  background: #ffffff;
}
.information__list {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr;
}
.information__title {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}
.information__number {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}
.information__paragraph {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}
@media (min-width: $tablet-width) {
  .information__list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
