@import "global/variables.scss";

.promo {
  height: 389px;
  width: 100%;
  background: url("../img/promo-background-m.png") no-repeat center center;
  background-size: cover;
}

@media (min-width: $tablet-width) {
  .promo {
    background-image: url("../img/tablet-intro.png");
    height: 518px;
  }

  @media (min-width: $desktop-width) {
    .promo {
      background-image: url("../img/desktop-intro.png");
    }
  }
}
