.realtown {
  background: #81b3d2;
  &__title {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    color: #ffffff;
  }
  &__number {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    color: #ffffff;
  }
  &__description {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
  }
}
