@import "global/variables.scss";

.search {
  padding-top: 38px;
}

.search__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search__title {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  text-align: center;
}

.search__paragraph {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  text-align: center;
  margin-top: 21px;
  text-transform: uppercase;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 278px;
}

.search__button {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  background: #81b3d2;
  text-decoration: none;
  text-align: center;
  margin-bottom: 49px;
  display: inline-block;
  padding: 16px 49px 16px 49px;
  text-transform: uppercase;
}

.search__button__map {
  width: 100%;
}

@media (min-width: $tablet-width) {
  .search {
    padding-top: 60px;
  }

  .search__button {
    margin-bottom: 55px;
    padding: 16px 135px 17px 135px;
    margin-top: 4px;
  }

  .search__title {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
  }

  .search__paragraph {
    margin-top: 32px;
    margin-bottom: 39px;
    max-width: 500px;
  }
}

@media (min-width: $desktop-width) {
  .search__button {
    margin-bottom: 66px;
    max-width: 458px;
    margin-top: 8px;
  }

  .search__title {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
  }

  .search__paragraph {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
  }

  .search__wrapper {
    max-width: 462px;
    margin: 0 auto;
  }
}
