.socials  {
  display: flex;
  &--vkontakt {

  }
  &--telegram {

  }
  &--youtube {

  }

}
.socials__item {
  list-style-type: none;
}
.socials__text {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
}
