@import "global/fonts.scss";
@import "advantages.scss";
@import "benefits.scss";
@import "features.scss";
@import "footer.scss";
@import "header.scss";
@import "information.scss";
@import "promo.scss";
@import "realtown.scss";
@import "socials.scss";
@import "block.scss";
@import "card.scss";
@import "container.scss";
@import "stats.scss";
@import "impression.scss";
@import "visiting.scss";
@import "emotions.scss";
@import "search.scss";
@import "copyright.scss";
@import "feedback-form";
@import "main.scss";


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h2,
p {
  margin: 0;
  padding: 0;
}

body {
  max-width: 1200px;
  margin: 0 auto;
}
